<div class="page-header">
<h1>Your Feed</h1>
</div>

<% @statuses.each do |status| %>

<div class="status">

	<div class="row">

		<div class="span1" id="letthiswork">
		    <%= link_to image_tag(status.user.gravatar_url), profile_path(status.user) %>
		</div>	
		
		<div class="span7">

				<span class="statusee"><%= status.user.full_name %> </span>

				<p><span class="statuscontent"><%= status.content %></span></p>

				<div class="meta">

					<%= link_to time_ago_in_words(status.created_at) + " ago", status %> 

					<span class="admin">

					  | <%= link_to "Edit", edit_status_path(status) %> |
					  <%= link_to "Delete", status, method: :delete, data: {confirm:"Are you sure that you want to delete this status?"} %>

					 </span> 

			</div>

		</div>

   </div>

</div>

<% end %>


