<div class="page-header">
<h1>Displaying Selected Status</h1>
</div>

<p id="notice"><%= notice %></p>

<p>
  <span class="statusseee"> Name:</span>
  <%= @status.user.full_name %>
</p>

<p>
  <span class="statusseee"> Content:</span>
  <%= @status.content %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
