<div class="page-header">
<h1>Forgot your password?</h1>
</div>
<h3>No problem! Simply enter your email below to recieve password reset instructions!</h3>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

</br>

  <%= f.input :email %> 

<div class="form-actions">
  <div><%= f.submit "Send me reset password instructions", class:"btn btn-success" %></div>
<% end %>

<%= render "devise/shared/links" %>
</div>
