<!DOCTYPE html>
<html>
<head>
  <title>Mango</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Mango", statuses_path, class:"brand"%>
			<%= link_to "Post a New Status", new_status_path, class:"btn btn-success"%>
			<ul class="nav">
				<li><%= link_to "Newsfeed", statuses_path %> </li>
			</ul>
			</div>
				</div>
			</div>
	<div class="container">
<%= yield %>
</div>

</body>
</html>
